src/**/*.scss
src/**/*.stories.js

# dependencies
/node_modules

/build
/stalls-scripts

# tests
__mocks__/
jest-test-results.json
setupTests.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*