@import "../../../styles/theme";

.Button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.5rem;
    width: 100%;
    max-width: 10rem;

    border-radius: 5px;

    font-family: $primary-font;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;

    &.active {
    }

    &.disabled {
        border: 2px solid $color-text-lighter;
        color: $color-text-lighter;
    }

    &.fill {
        background: $green;
        box-shadow: 0 6px 8px 0 rgba(103, 194, 172, 0.5);
        color: $white;
    }

    &.no-fill {
        border: 2px solid $blue;
        color: $blue;
    }

    svg {
        margin-right: 0.5rem;
    }
}