@import "../../../styles/theme";

$button-background: $light-gray;
$button-color: $color-text-contrast-lighter;

@mixin button-styles($background, $color) {
    background: $background;
    box-shadow: 7px 7px 50px 0px rgba($background, 0.5);
    border: 2px solid $background;
    color: $color;

    &.inverted {
        background: $white;
        color: $background;
    }
}

a.Button {
    display: inline-block;
}

.Button {
    @include button-styles($button-background, $button-color);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    background: $button-background;
    box-shadow: 0 6px 8px 0 $button-background;
    color: $button-color;

    border-radius: 3px;

    font-family: $primary-font;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;

    &.success {
        @include button-styles($success, $white);
    }

    &.warning {
        @include button-styles($warning, $blackish);
    }

    &.danger {
        @include button-styles($danger, $white);
    }

    &.info {
        @include button-styles($info, $white);
    }

    &.disabled {
        @include button-styles($color-text-lighter, $black-20);
        pointer-events: none;
        cursor: none;
    }

    svg {
        margin-right: 0.5rem;
    }
}