@import "../../../styles/mixins";

.Hero {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 29vh;
    position: relative;
    overflow: hidden;
    
    @include respond-to(medium-screens) {
        max-height: 100vh;
        min-height: 50vh;
    }

    @include respond-to(wide-screens) {
        min-height: 60vh;
    }

    @include respond-to(extra-wide-screens) {
        min-height: 80vh;
    }


    .HeroImage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: 150%;
        max-height: 150%;
        z-index: -1;
    }

    & h1 {
        font-size: 1rem;

        @include respond-to(medium-screens) {
            font-size: 2rem;
        }
    }
}
