@import "../../../styles/mixins";

// TODO: Add breakpionts for mobile and desktop
.HeroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 29vh;

    @include respond-to(medium-screens) {
        max-height: 100vh;
        min-height: 50vh;
    }

    @include respond-to(wide-screens) {
        max-height: 100vh;
        min-height: 60vh;
    }

    @include respond-to(extra-wide-screens) {
        max-height: 100vh;
        min-height: 80vh;
    }
    
    
    & .Hero {
        width: 100%;
        position: relative;
    }

    & .ProfileImage {
        position: absolute;
        bottom: 0%;
        overflow: visible;
        transform: translateY(50%);
    }
}