@import "../../../styles/theme";
@import "../../../styles/mixins";

.c-modal-cover {
    align-items: center;
    background-color: $black-30;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    width: 100%;
    z-index: 10; // This must be at a higher index to the rest of your page content
}

.c-modal {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px $black-10;
    min-height: 20%;
    padding: 2.5em 1.5em 1.5em 1.5em;
    position: relative;
    overflow-y: auto;
    width: 75%;
    -webkit-overflow-scrolling: touch;
    
    @include respond-to(medium-screens) {
        max-width: 25em;
        width: 100%;
    }

    @include respond-to(wide-screens) {
        max-width: 40em;
    }

    @include respond-to(extra-wide-screens) {
        max-width: 45em;
    }
}

.c-modal__close {
    background: $dark-white;
    border: 0;
    cursor: pointer;
    padding: .5em;
    position: absolute;
    right: 0;
    top: 0;
}

.c-modal__close-icon {
    fill: transparent;
    height: 25px;
    width: 25px;
    stroke: $blackish;
    stroke-linecap: round;
    stroke-width: 2;
}

.c-modal__body {
    padding-top: .25em;
}

.u-hide-visually {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}