@import "../../../styles/theme";

.ProfileImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid $bright-green;
    box-shadow: 0.2rem 0.3rem 2.5rem rgba(0,0,0,0.5);
    height: 6.5rem;
    overflow: hidden;
    text-align: center;
    width: 6.5rem;
    transition: all 0.1s ease;

    & .fa-camera {
        align-self: center;
        color: $text-gray;
        font-size: 2.75rem;
    }
}